ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/054a95b9-2401-4659-96aa-8c834b3254f1.vsidx
ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/2dd2c94d-11d7-4fe6-9970-3f5ddd7ecedf.vsidx
ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/b542ff8d-0f4d-436d-a54b-a1cf80ff3361.vsidx
ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/7bdbdd0f-8e51-49d3-b899-2dec2d0c8826.vsidx
ConsoleApp1/.vs/ConsoleApp1.slnx/v18/.suo
ConsoleApp1/.vs/ConsoleApp1.slnx/v18/DocumentLayout.backup.json
ConsoleApp1/.vs/ConsoleApp1.slnx/v18/DocumentLayout.json
ConsoleApp1/.vs/ConsoleApp1/CopilotIndices/18.0.923.20550/CodeChunks.db
ConsoleApp1/.vs/ConsoleApp1/CopilotIndices/18.0.923.20550/CodeChunks.db-shm
ConsoleApp1/.vs/ConsoleApp1/CopilotIndices/18.0.923.20550/CodeChunks.db-wal
ConsoleApp1/.vs/ConsoleApp1/CopilotIndices/18.0.923.20550/SemanticSymbols.db
ConsoleApp1/.vs/CopilotSnapshots/DE5DAE2F2323B947AA5E7796AB697D64/C9A77A3D416F5447B7550C248035F059/D0BBF9E4143444BA22684C7DCB9B8A5D
ConsoleApp1/.vs/ConsoleApp1/CopilotIndices/18.0.923.20550/SemanticSymbols.db-shm
ConsoleApp1/.vs/ConsoleApp1/CopilotIndices/18.0.923.20550/SemanticSymbols.db-wal
ConsoleApp1/.vs/CopilotSnapshots/DE5DAE2F2323B947AA5E7796AB697D64/state.mpack
ConsoleApp1/.vs/CopilotSnapshots/DE5DAE2F2323B947AA5E7796AB697D64/2CF47C130A9A86478D93CAC9B0D337A3/1D0B949E3809B882143DE895701E9CC2
